<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<body>

    <th:block th:fragment="menubar">
    <img id="removablediv" class="showmenu mainmenu" src="">
    <div class="layui-row togglediv" style="margin-top: 10%;">

        <div class="layui-col-xs6 layui-col-md12" style="margin: 15%">
            <div class="grid-demo grid-demo-bg2">
                <a title="首页" th:href="@{/home/homepage}"><img class="imgstyle" th:src="@{/img/icon/home.gif}"></a>
            </div>
        </div>

        <div class="layui-col-xs6 layui-col-md12" style="margin: 15%">
            <div class="grid-demo grid-demo-bg2">
                <a title="登录" th:href="@{/login/loginPage}"><img class="imgstyle" th:src="@{/img/icon/login.gif}"></a>
            </div>
        </div>

        <div class="layui-col-xs6 layui-col-md12" style="margin: 15%">
            <div class="grid-demo grid-demo-bg2">
                <a title="告白墙" th:href="@{/confession/wall}"><img class="imgstyle" th:src="@{/img/icon/confessionWall.gif}"></a>
            </div>
        </div>

        <div class="layui-col-xs6 layui-col-md12" style="margin: 15%">
            <div class="grid-demo grid-demo-bg2">
                <a title="去告白" th:href="@{/confession/toconfession}"><img class="imgstyle" th:src="@{/img/icon/confession.gif}"></a>
            </div>
        </div>

        <div class="layui-col-xs6 layui-col-md12" style="margin: 15%">
            <div class="grid-demo grid-demo-bg2">
                <a title="定制服务" th:href="@{/individuation/individuationPage}"><img class="imgstyle3"  th:src="@{/img/icon/individuation.gif}"></a>
            </div>
        </div>
    </div>

    </th:block>

</body>
</html>