

.showpicwindow{
    background: rgba(0,0,0,0.7);
/*    opacity:0;
    background-color: black;*/
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999

}
.explaindiv{

    width: 50%;
    height: 100%;
    position: fixed;
    right: 0px;
}

.showpicdiv{

    width: 50%;
    height: 100%;
    position: fixed;

}


