
html:hover {
    cursor: url("/fileService/systemImage/iconImage/cursor.ico"), auto;
}


html {
    height: 100%;
}


.backgroundimg {

    width: 100%;
    height: auto;
    background: url(/fileService/systemImage/iconImage/defaultBackgroundImage.jpg) no-repeat center center;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    object-fit: cover;
    color: rgba(255, 255, 255, .95);
}

.scrollingBackgroundimg {

    width: 100%;
    height: auto;
    background: url(/fileService/systemImage/iconImage/defaultBackgroundImage.jpg) no-repeat center center;
    color: rgba(255, 255, 255, .95);
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}


.confessionBackgroundimg {

    width: 100%;
    height: auto;
    background: url(/fileService/systemImage/iconImage/defaultBackgroundImage.jpg) no-repeat center center;
    color: rgba(255, 255, 255, .95);
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;

}


canvas {
    display: block;
    margin: 0 auto;
    cursor: move;
}

.canvasstyle {

    overflow: hidden;
    min-height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: #435;*/
    color: white;
    font-family: sans-serif;
    text-align: center;

}

span.toolTips {
    display: none;
    position: absolute;
    margin-left: 33px;
    padding: 0;
    color: #86181d;
    background-color: #ffdce0;
    border-color: #cea0a5;
    /*display:block;*/
    border: 1px solid;
    border-radius: 4px;
    padding: 2px;
}

span.toolTips::before {
    content: ' ';
    display: block;
    border-right: 7px solid #ffdce0;
    border-left: 7px solid transparent;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 4px;
    left: -14px;
    z-index: 3;
}

span.toolTips::after {
    content: ' ';
    display: block;
    border-right: 8px solid #86181d;
    border-left: 8px solid transparent;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 3px;
    left: -16.5px;
    z-index: 2;
}

.hidemenu {

    height: auto;
    width: auto;
    content: url(/fileService/systemImage/menuImage/hidemenu.gif);
    position: fixed;

}

.showmenu {

    height: auto;
    width: auto;
    content: url(/fileService/systemImage/menuImage/showmenu.gif);
    position: fixed;
}

.imgstyle {

    height: 35px;
    width: 30px
}

.imgstyle3 {

    height: 35px;
    width: 35px
}

.maindiv1 {
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0px;

}

.maindiv2 {
    width: 60%;
    height: 100%;
    position: absolute;
    left: 20%;
    top: 0px;

}

.maindiv3 {
    width: 20%;
    height: 100%;
    position: absolute;
    left: 80%;
    top: 0px;

}


.headimgdiv {
    position: relative;
    display: block;
    overflow: hidden;
    width: 50px;
    background: transparent;
}

.headimg {
    width: 50px;
    height: 50px;
    background: url(/fileService/systemImage/iconImage/defaultheadSculpture.jpg) no-repeat center center;
    background-size: cover;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}


::-webkit-scrollbar {
    width: 0px; /*对垂直流动条有效*/
    height: 10px; /*对水平流动条有效*/
}

/*定义滚动条的轨道颜色、内阴影及圆角*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #f0f0f0;
    border-radius: 3px;
}


/*定义滑块颜色、内阴影及圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 7px;
    -webkit-box-shadow: inset 0 0 6px rgba(14, 0, 12, 0.58);
    background-color: #cccccc;
}

/*定义两端按钮的样式*/
::-webkit-scrollbar-button {
    background-color: rgba(239, 137, 255, 0);
}

/*定义右下角汇合处的样式*/
::-webkit-scrollbar-corner {
    background: #0f060f;
}

/*修改layer颜色*/
.layui-layer-content {
    background-color: #fdfff8;
    color: black;

}

/*过长显示省略号*/
.showellipsis {


    overflow: hidden;

    text-overflow: ellipsis;

    white-space: nowrap;

}

.opacitybackground {
    background: rgba(116, 116, 116, 0.7);
    color: black;
}

.musicPlay {

    width: 50px;
    height: 100%;
    background: url(/fileService/systemImage/iconImage/musicPlay.svg) no-repeat center center;
    background-size: cover;
    object-fit: cover;
}

.musicPause {

    width: 50px;
    height: 100%;
    background: url(/fileService/systemImage/iconImage/musicPause.svg) no-repeat center center;
    background-size: cover;
    object-fit: cover;
}

.layui-table{

    background-color: transparent;
    color: #0f060f;
}

.commonIframe{

    height:100%;
    width:100%;
    frameborder:no;
    border:0;
    marginwidth:0;
    marginheight:0;
    scrolling:no;
    allowtransparency:yes;
}