/*

html{height: 100%;}


.backgroundimg {

    width: 100%;
    !*height: 100%;*!
    background: url(/img/lodingbgpicture/lodingbgpicture11.jpg) no-repeat center center;
    overflow: hidden;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    object-fit: cover;
    color: rgba(255, 255, 255, .95);
}*/
.chooseboy{

    content:url("/img/icon/boy.png");
    height:40px;
    width:40px;
}
.unchooseboy{

    content:url("/img/icon/boybefore.png");
    height:40px;
    width:40px;
}

 .choosegirl{

     content:url("/img/icon/girl.png");
     height:40px;
     width:40px;
 }

.unchoosegirl{

    content:url("/img/icon/girlbefore.png");
    height:40px;
    width:40px;
}