<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title> 首页</title>
    <div th:replace="../templates/publicContent/commen :: commenhead"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/homePage.css}">
    <script type="text/javascript" th:src="@{/js/homePage.js}"></script>

    <!--    <script type="text/javascript" th:src="@{/js/Effect.js}"></script>
        <script type="text/javascript" th:src="@{/js/EffectItem.js}"></script>-->
</head>

<body>

<div class="lodingdiv" style="object-fit: cover">
    <div align="center" style="margin-top: 20%">
        <div>欢迎来到小秘密网,在这里说出你的心里话吧</div>
        <div style="margin-top: 20px">
            <img style="height: auto;width: auto;" class="imgstyle" th:src="@{/img/icon/loding.gif}">
        </div>
    </div>
</div>


<div class="mc-ui-absolute-pane" style="top: 0px;">
    <div class="mc-ui-absolute-pane maindiv1">
        <div th:replace="../templates/publicContent/headImg :: headImg"></div>
        <div id="my">
            该往何处
        </div>
    </div>
    <div class="mc-ui-absolute-pane maindiv2">
        <!--<label class="layui-form-label"></label>-->
        <div class="inputdiv layui-input-block">
            <span class="inputDog" th:align="left"><img th:src="@{/img/icon/dog.gif}"></span>
            <span class="toolTips"></span>
            <div style="position: absolute;width: 100%">
                <form class="mainsearchform layui-form" th:action="@{/home/searchConfession}" method="post">
                    <input class="searchinput" type="text" name="searchParam" lay-verify="required"
                           lay-reqtext="请输入文字搜索哦" placeholder="请输入你的名字或昵称" autocomplete="off"/>

                    <span> <button lay-submit lay-filter="laysearchbutton"
                                   class="searchbutton layui-btn layui-btn-primary"
                                   style="width: 10%">搜索</button></span>
                </form>
            </div>
        </div>
        <div class="iframediv" align="center">
            <iframe th:src="@{/home/insidePage}" class="commonIframe" >
            </iframe>
        </div>
    </div>


    <div class="mc-ui-absolute-pane maindiv3">
        <div th:replace="../templates/publicContent/menubar :: menubar"></div>
    </div>
</div>

<div>
    <audio id="musicSource" loop="loop" autoplay="autoplay" oncontextmenu="return false">
        <source src="https://api.uomg.com/api/rand.music?sort=%E6%96%B0%E6%AD%8C%E6%A6%9C" type="audio/mp3"/>
        <!--<source th:src="@{/audioFrequency/defaultBackgroundMusic.mp3}" type="audio/mp3"/>-->
    </audio>
</div>

<!--<div th:replace="../templates/publicContent/musicPlayer :: musicPlayer"></div>-->

</body>

</html>