<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>最近展示</title>
    <div th:replace="../templates/publicContent/commen :: commenhead"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dynamicloading/confessionWall.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/dynamicloading/pater.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/dynamicloading/dynamicloading.css}" />

</head>
<body >
<div class="maindiv1">
    <div th:replace="../templates/publicContent/headImg :: headImg"></div>
</div>
<div class="maindiv2">

    <div align="center" style="height: 10%;width:60%;z-index:999;position: fixed;top: 0;">部分展示</div>
    <div class="topdiv" align="center" style="height: 10%;top: 0;">部分展示</div>

    <div class="content content--center"`>
        <div id="gridpic" class="grid grid--type-a">
            <div class="grid__sizer"></div>


        </div>
    </div>
</div>


</div>
<div class="maindiv3">
    <div th:replace="../templates/publicContent/menubar :: menubar"></div>
</div>


<div class="showpicwindow" hidden="hidden">
    <div class="showpicdiv" >

    </div>

    <div class="explaindiv" >
        <div class="showcontent" style="margin-top: 30%;width: 50%;font-size: large;color: #FFFFFF;margin-left: 20px"></div>
        <div align="right" style="width: 50%;color: #C3C8CD;margin-top: 20px;margin-left: 20px"><span>for——</span><span class="showreceiver" ></span></div>
    </div>

</div>


<script type="text/javascript" th:src="@{/js/confession/confessionWall.js}"></script>
<script type="text/javascript" th:src="@{/js/dynamicloading/imagemagnification.js}"></script>
</body>
</html>
