<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title> Ta对你说</title>
    <div th:replace="../templates/publicContent/commen :: commenhead"></div>
    <script type="text/javascript" th:src="@{/js/Effect.js}"></script>
    <script type="text/javascript" th:src="@{/js/Effectitem.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/confession/toConfession.css}" />

</head>
<body class="confessionBackgroundimg" th:style="'background-image: url('+@{/fileService/vicitorConfessionPictureUtil(pictureName=${showModel.backgroundImagSrc})}+')'">


<div class=" maindiv1" >
    <div th:replace="../templates/publicContent/headImg :: headImg"></div>
    <div class="secretimg" style="margin-top: 20%;margin-left:10%;position: fixed" align="center">
        <img class="" th:src="@{/img/menuImg/confessionWall.gif}" />
    </div>
</div>

    <div class="maindiv2 opacitybackground"  >
        <div class="loveletterstyle loveletter">
        <div style="margin: 20px">有人对你说：</div>
        <label class=""  th:text="${showModel.content}">

        </label>
        </div>
    <div class="hiddenClue loveletterstyle"  hidden="hidden">
        <div style="margin: 20px">给你留下的线索：</div>
        <label class="layui-form-label" th:text="${showModel.clue}"></label>
    </div>

    </div>

<div class="mc-ui-absolute-pane maindiv3" >
    <div th:replace="../templates/publicContent/menubar :: menubar"></div>
</div>

<div class="container" >
    <canvas></canvas>
</div>


<div>
    <audio loop="loop" autoplay="autoplay"  oncontextmenu="return false">
        <source th:src="@{/audioFrequency/song.mp3}" type="audio/mp3" />
    </audio>
</div>

<script type="text/javascript" th:src="@{/js/insideHomePage.js}"></script>

<script>


    $(document).ready(function () {
        var scheight=$(window).height();
        var divheight=$(".loveletter").css("height");
        var margintoppx=(scheight-divheight)/2+"px";

        $(".loveletter").css("margin-top",margintoppx);

    });


    new Effect({
        //特效图片，多张图片时传入数组，单个图片时传入字符串
        effectUrl: effectStartsArr,
        //特效旋转，1/true为旋转，0/false为不旋转
        rotate: 1,
        //特效方向，left/right/up/down
        direction: "up"
    });


    $(".secretimg").mousedown(function () {

        $(".loveletter").toggle();
        $(".hiddenClue").toggle();
    });

    $(".secretimg").mouseup(function () {

        $(".loveletter").toggle();
        $(".hiddenClue").toggle();
    });

</script>
</body>
</html>