<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title> 注册</title>
    <div th:replace="../templates/publicContent/commen :: commenhead"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/loginandregist.css}" />
</head>
<body class="backgroundimg">


<div style="width: 100%;height: 100%;position: absolute" align="center" >

    <div  class="formdiv" style="height: auto;width:40%;z-index:999;background-color: #B2B2B2;opacity:0.5;position: absolute" hidden="hidden" >
        <form style="margin-top: 10%" class="registerform layui-form" action="">

            <div class="" >
                <div style="display: inline-block;height: 50px;">
                    <img th:src="@{/img/icon/phone.png}" title="手机号"/>
                </div>
                <div style="display: inline-block;height: 50px;width: 50%">
                    <input type="text" name="phoneNumber" style="border-radius: 15px;" lay-vertype="tips" lay-verify="required|phone" placeholder="手机号" autocomplete="off" class="layui-input">
                </div>

            </div>

            <div class="" >
                <div style="display: inline-block;height: 50px">
                    <img th:src="@{/img/icon/user.png}" title="昵称"/>
                </div>
                <div style="display: inline-block;height: 50px;width: 50%">
                    <input type="text" name="nickName" style=" border-radius: 15px;" lay-verify="required|inputlimit" lay-vertype="tips" placeholder="用户名" autocomplete="off" class="layui-input">
                </div>

            </div>

            <div class="" >
                <div style="display: inline-block;height: 50px;">
                    <img th:src="@{/img/icon/password.png}" title="密码"/>
                </div>
                <div style="display: inline-block;height: 50px;width: 50%">
                    <input type="password" name="userPassword" style=" border-radius: 15px;" lay-verify="required|inputlimit" lay-vertype="tips" placeholder="密码" autocomplete="off" class="layui-input">
                </div>

            </div>

            <div class="" >
                <div style="display: inline-block;height: 50px;width: 40%">
                    <input id="hiddensexinput" name="sex" type="hidden" value="1"/>
                    <img class="boysexradio chooseboy choose" height="40px" width="40px" th:src="@{/img/icon/boy.png}" title="男" sexvalue="1"/>
                    <img class="girlsexradio unchoosegirl unchoose" height="40px" width="40px" th:src="@{/img/icon/girlbefore.png}" title="女" sexvalue="0"/>
                </div>
                <!--<div style="display: inline-block;height: 50px;width: 40%">
                    <img src="/img/icon/girlbefore.png" title="男"/>
                </div>-->

            </div>


            <div class="" >
                <div style="display: inline-block;height: 50px;">
                    <img th:src="@{/img/icon/identifyingcode.png}" title="验证码"/>
                </div>
                <div style="display: inline-block;height: 50px;width: 50%">
                    <input type="text" name="identifyingcode" style=" border-radius: 15px;" lay-verify="required|inputlimit" placeholder="验证码" autocomplete="off" class="layui-input">
                </div>

            </div>

            <div class="" style="margin-top: 5%">

                <div style="height: 50px;width: 30%;display: inline-block">
                    <input type="button" name="update" value="注册" lay-submit lay-filter="layregistbutton" class="registbutton layui-btn layui-btn-radius layui-btn-primary">
                </div>

            </div>
        </form>
    </div>

</div>

<div class="mc-ui-absolute-pane maindiv3" >
    <div th:replace="../templates/publicContent/menubar :: menubar"></div>
</div>

<script type="text/javascript" th:src="@{/js/loginAndRegister/register.js}"></script>

</body>
</html>